*{
    margin: 0;
    padding: 0;
    color: rgb(18, 82, 18);
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: rgb(0, 255, 149);
    border-radius: 15px;
    width: 650px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px rgb(134, 134, 134) outset;
    box-sizing: border-box;
    transition: padding 500ms, transform 500ms, box-shadow 500ms;
    
}

.box:hover{
    padding: 30px;
    transform: scale(1.01);
    box-shadow: 1.5px 1.5px 20px 1px rgb(73, 73, 73);
}

.messageOne{
    white-space: pre-line;
    margin-top: 25px;
    margin-bottom: 50px;
}

.carregando{
    border: 10px solid #ffffff;
    border-top: 10px solid rgb(18, 82, 18);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: girar 2s linear infinite;
  }


@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.partOne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageTwo{
    display: flex;
    align-items: center;
}

.socials{
    text-decoration: none;
    line-height: 0px;
    display: inline-block;
}

.language{
    margin-top: 30px;
    text-decoration: none;
    line-height: 0px;
}

.languagecontainer{
    display: flex;
    text-align: center;
    align-items: center;
}
